.wrapper {
  display: flex;
  gap: 0.5rem;
  align-items: flex-start;
  flex-direction: column;

  position: relative;
  width: 21.875rem;

  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
}

.input {
  padding: 1rem 1.25rem;
  border: 0.1rem solid var(--gray-30);
  width: 21.875rem;

  border-radius: 0.375rem;
}

.input:focus {
  outline: 0.1rem solid var(--red-20);
}

.error {
  outline: 0.1rem solid var(--red-40);
}

.errorMsg {
  padding-left: 0.5rem;
  font-size: 0.75rem;
  color: var(--red-40);
}

.passwordWrapper {
  display: flex;
  flex-direction: column;
}

.innerText {
  position: relative;
  top: -3.2rem;
  right: -19.5rem;
  font-size: 1rem;
  color: var(---black);
}

.work {
  right: -18.75rem;
}
