.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  font-size: 1rem;
}

.input {
  width: 35rem;
  padding: 1.6rem 2rem;

  border-radius: 0.6rem;
  border: 0.1rem solid var(--gray-30);
}
/* .input:focus {
  outline: 1px solid var(--red-40);
} */

.error {
  outline: 0.1rem solid var(--red-40);
}

.errorMsg {
  font-size: 1.6rem;
  color: var(--red-40);
}
