.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  width: 100%;
  height: 15.3rem;
  font-size: 1.6rem;

  position: relative;
}

.textarea {
  width: 100%;
  padding: 1.6rem 2rem;
}
