.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.accept {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid var(--blue-20);
  color: var(--blue-20);
}

.reject {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid var(--primary);
  color: var(--primary);
}
