.wrapper {
  display: grid;
  padding: 3.2rem 2rem 1.6rem 2rem;

  width: 100%;

  background: var(--gray-10);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem;
  color: var(--gray-50);
  grid-template-areas:
    'm r'
    'l .';
  grid-gap: 4rem;

  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    padding: 3.7rem 3.2rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  @media (min-width: 1200px) {
    padding: 3.7rem 23.8rem;
  }
}

.leftWrapper {
  grid-area: l;
}

.middleWrapper {
  display: flex;
  gap: 3rem;
  grid-area: m;
}

.rightWrapper {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  grid-area: r;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
}
