.wrapper {
  display: grid;
  flex-shrink: 0;
  padding: 1rem 2rem;

  position: sticky;
  top: 0;
  z-index: 10;

  width: 100%;
  height: 10.2rem;
  background: var(--white);
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'l m'
    's s';

  @media (min-width: 768px) {
    display: flex;
    gap: 3.51rem;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    width: 100%;
    height: 7rem;
  }

  @media (min-width: 1200px) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    width: 100%;
    height: 7rem;
  }
}

.logoWrapper {
  display: flex;
  align-items: center;
  grid-area: l;
}

.searchWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: s;

  @media (min-width: 1200px) {
    padding-right: 19.6rem;
  }
}

.menuWrapper {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  justify-content: flex-end;
  grid-area: m;
}
