.wrapper {
  display: flex;
  gap: 0.8rem;
  align-items: flex-start;
  padding: 0.8rem;

  width: 100%;

  background: var(--gray-10);
  font-size: 1.2rem;
  color: var(--gray-40);
  border-radius: 1rem;

  @media (min-width: 768px) {
    gap: 1rem;
    padding: 1rem;
    width: 34.4rem;
    font-size: 1.4rem;
  }

  @media (min-width: 1200px) {
    width: 45rem;
  }
}

.wrapper input {
  border: 0;
  width: 23.3rem;
  height: 2rem;
  background: var(--gray-10);
}

.searchIcon {
  width: 1.6rem;

  @media (min-width: 767px) {
    width: 2rem;
  }
}
