.wrapper {
  display: flex;
  gap: 0.625rem;
  align-items: flex-start;
  padding: 0.625rem;

  width: 28.125rem;
  background: var(--gray-10);
  font-size: 0.875rem;
  color: var(--gray-40);
  border-radius: 0.625rem;
}

.wrapper input {
  border: 0;
  width: 14.5625rem;
  height: 1.25rem;
  background: var(--gray-10);
}

.searchIcon {
  width: 1.25rem;
}

/* tablet */
@media (max-width: 768px) {
  .wrapper {
    width: 21.5rem;
  }
}

/* mobile */
@media (max-width: 375px) {
  .wrapper {
    gap: 0.5rem;
    padding: 0.5rem;
    width: 20.9375rem;
    font-size: 0.75rem;
  }

  .searchIcon {
    width: 1rem;
  }
}
