.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10.2rem;
  width: 100%;
  height: 80%;
  color: var(--black);
}

.middleWrapper {
  display: flex;
  gap: 2.4rem;
  flex-direction: column;
  padding: 4rem 1.2rem;

  @media (min-width: 768px) {
    gap: 3.2rem;
    padding: 6rem 3.2rem;
    width: 74.4rem;
  }

  @media (min-width: 1200px) {
    gap: 3.2rem;
    padding: 6rem 16rem;
    width: 140rem;
  }
}

.middleWrapper p {
  padding-bottom: 1.6rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: normal;

  @media (min-width: 768px) {
    font-size: 2.8rem;
  }

  @media (min-width: 1200px) {
    font-size: 2.8rem;
  }
}

.myProfile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.innerWrapper {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  flex-direction: column;
  padding: 6rem 2.4rem;

  @media (min-width: 768px) {
    gap: 2.4rem;
  }

  @media (min-width: 1200px) {
    gap: 2.4rem;
  }
}

.innerWrapper p {
  padding: 0;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.2rem;

  @media (min-width: 768px) {
    font-size: 1.6rem;
  }

  @media (min-width: 1200px) {
    font-size: 1.6rem;
  }
}

.inputWrapper {
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-direction: column;
  padding: 0;

  @media (min-width: 768px) {
    display: grid;
    grid-template-areas:
      'n p'
      'd .'
      't t';
  }

  @media (min-width: 1200px) {
    display: grid;
    grid-template-areas:
      'n p d'
      't t t';
  }
}

.nameInput {
  grid-area: n;
}

.phoneInput {
  grid-area: p;
}

.dropdown {
  grid-area: d;
}

.textarea {
  grid-area: t;
}

.inputWrapper p {
  padding: 0;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.6rem;
}

.button {
  width: 15rem;

  @media (min-width: 768px) {
    width: 34.6rem;
  }

  @media (min-width: 1200px) {
    width: 34.6rem;
  }
}

.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.registButton {
  width: 31.2rem;
}

.toast {
  position: fixed;
  bottom: -8rem;
  z-index: 2;
}
