.container {
  display: flex;
  gap: 1.6rem;
  flex-direction: column;
  width: 100%;
}

.topContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.cardContainer {
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
}
