.wrapper {
  margin: 0 auto;
  width: 351px;

  @media (min-width: 768px) {
    width: 680px;
  }

  @media (min-width: 1200px) {
    width: 964px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.title {
  font-family: Spoqa Han Sans Neo;
  font-size: 2.8rem;
  font-weight: 700;
  letter-spacing: 0.56px;
}

.info {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-areas: 'hourlyPay' 'date' 'workHour';

  @media (min-width: 768px) {
    grid-template-areas: 'hourlyPay date' 'workHour .';
  }
  @media (min-width: 1200px) {
    grid-template-areas: 'hourlyPay date workHour';
  }
}
