.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 13.904rem;

  position: relative;
  font-size: 1.6rem;

  @media (min-width: 768px) {
    padding-top: 20.2rem;
  }

  @media (min-width: 1200px) {
    padding-top: 20.2rem;
  }
}

.input {
  display: flex;
  gap: 2.784rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding-top: 4rem;
  padding-bottom: 1.6rem;
}

.button {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #5534da;
}

.link {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #5534da;
  text-decoration-line: underline;
}

.toast {
  position: absolute;
  bottom: -8rem;
  z-index: 3.2;
}
