.wrapper {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--The-julge-black);
  text-align: center;

  /* Tablet, Desktop */
  @media (min-width: 768px) {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}
