.wrapper {
  display: flex;
  flex-direction: column;

  border: 1px solid var(--gray-20);
  border-radius: 8px;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px solid var(--gray-20);

  font-size: 1.6rem;
}

.header {
  display: flex;
  flex-direction: row;
  background-color: #fef7f6;
  font-size: 1.4rem;
}

.header .shop {
  padding: 1.4rem 1.2rem;
}

.shop {
  padding: 2rem 1.2rem;
  width: 22.8rem;
}

.header .date {
  padding: 1.4rem 1.2rem;
}

.date {

  display: -webkit-box;

  padding: 2rem 1.2rem;

  overflow: hidden;
  width: 30rem;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  @media (max-width: 768px) {
    display: none;
  }

  @media (max-width: 1200px) {
  }
}

.header .hourlyPay {
  padding: 1.4rem 1.2rem;
}

.hourlyPay {
  padding: 2rem 1.2rem;
  width: 20rem;

  @media (max-width: 768px) {
    display: none;
  }

  @media (max-width: 1200px) {
    display: none;
  }
}

.header .status {
  padding: 1.4rem 1.2rem;
}

.status {
  display: flex;
  gap: 12px;
  flex-direction: row;
  padding: 2rem 1.2rem;

  width: 23.6rem;

  @media (max-width: 768px) {
    border-left: 1px solid var(--gray-20);
  }

  @media (max-width: 1200px) {
    border-left: 1px solid var(--gray-20);
  }
}

.pagenation {
  padding: 0.8rem 1.2rem;
}
