.wrapper {
  display: flex;
  gap: 0.8rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem 5.6rem;
  min-width: 8rem;
  background-color: var(--primary);
  font-size: 1.4rem;
  color: var(--white);
  border-radius: 0.6rem;
}

.button.confirm {
  background-color: var(--primary);
  color: var(--white);
}

.button.confirm.filter {
  flex-shrink: 1;
  padding: 1.2rem 0;
  width: 100%;
}
