.wrapper {
  border: 0.1rem solid var(--gray-20);
  box-shadow: 0 0.4rem 2.5rem 0 rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
  position: absolute;
  top: 10.3rem;
  z-index: 1;
  width: 35rem;
  height: 23rem;
  background-color: var(--white);
  border-radius: 0.6rem;
}

.sortWrapper {
  top: 3.3rem;
  width: 10.5rem;
  height: 16rem;
}

.buttonContainer {
  width: 100%;
}

.button {
  padding: 1.2rem 0;
  border-bottom: 0.1rem solid var(--gray-20);
  width: 100%;
  font-size: 1.4rem;
  line-height: 2.2rem;
}

.sortButton {
  padding: 0.8rem 0;
}
