.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 7.3rem;
  font-size: 1.6rem;

  @media (min-width: 768px) {
    padding-top: 13.9rem;
  }

  @media (min-width: 1200px) {
    padding-top: 15.6rem;
  }
}

.input {
  display: flex;
  gap: 2.784rem;
  align-items: center;
  flex-direction: column;

  padding-top: 4rem;
  padding-bottom: 1.6rem;
}

.link {
  color: #5534da;
  text-decoration-line: underline;
}

.toast {
  position: absolute;
  bottom: 12rem;
  z-index: 3.2;
}
