.wrapper {
  width: 5.10238rem;

  @media (min-width: 768px) {
    width: 6.80319rem;
  }

  @media (min-width: 1200px) {
    width: 6.80319rem;
  }
}

.login {
  width: 13rem;

  @media (min-width: 768px) {
    width: 15.5rem;
  }

  @media (min-width: 1200px) {
    width: 15.5rem;
  }
}
